 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light-tertiary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <p>I'm an experienced software developer and I love to keep things organized, whether they be code, features, documentation, budgets or client relationships.</p>
                </div>
                <div class="col-lg-5">
                    <p>I’m a perfectionist, irreparably hyperactive, I love motorbikes and outdoor sports.</p>
                </div>
                <div class="col-lg-5">
                    <p>Take a look at my <a class="secondary" href="https://www.linkedin.com/in/silviorelli/">Linkedin profile</a></p>
                </div>
            </div>
        </div>
    </section>