 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light-tertiary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I'm an experienced software developer, I spent my career working mostly with Ruby and Javascript but I'm also passionate about BigData, server infrastructure management, deployment, provisioning and scaling tasks.</p>
                </div>
                <div class="col-lg-4">
                    <p>I’m a perfectionist, irreparably hyperactive and I love outdoor sports.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>